$mainFont: rgb(54, 54, 54);
$coffee: #BF9F73;
//#b38e18;
$lineFade:  rgb(189, 186, 186);
$whiteFont:  rgb(231, 231, 231);
$mainSecondaryColor: rgb(250, 196, 237);
$secondaryColor: rgba(250, 196, 237,0.3);
