@import './variables';
@import './header';
@import './about';
@import './works';
@import './contact';
@import './email';
@import './modal';

*{
    padding: 0;
    margin: 0;
    outline: none;
    font-family: 'Raleway';
}

body,html{
    min-width: 100vw;
    padding: 0;
    margin: 0;
    font-family: 'Raleway';
    position: relative;
    overflow-x: hidden;
}
.bg-fixed{
    position: absolute;
    top: 0;
    z-index: -100;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.3), rgba(54, 54, 54,0.8)), url('pic/bg5.jpg');
    background-size: 100% 100%;  
    position: fixed; 
}
.modal{
    position: absolute;
    padding: 1em;
    //left: 0;
   // transform: translateY(0%);
    background: rgba(0, 0, 0, 0.178);
    z-index: 100;
}
.modal img{
    position: relative;
    width: 208px;
    height: 180px;
  
}
.alert{
    position: fixed;
    padding: 0px 1rem;
    top: 100px;
    right: 0;
    width: 30%;
    height: 60px;
    -webkit-box-shadow: 0 0 3px 1px #807d7d;
    -moz-box-shadow: 0 0 3px 1px #807d7d;
    box-shadow: 0 0 3px 1px #807d7d;
    opacity: 0;
    transform: translateX(100%);
    background-color: rgba(63, 63, 63, 0.801);
    color: white;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: 6000ms ease-in;
    transition-property: transform,opacity;
    p{
        font-size: .8em;
        text-align: center;
    }
}
@keyframes pop{
    15%,25%{
        transform: translateX(-25px);
       
    }
    20%,80%{
        opacity: 1;
    }
    30%,80%{
        transform: translateX(-10px);
    }
    100%{
        transform: translateX(-10px);
        opacity: 0;
    }
}
@media screen and (max-width: 654px){
    .bg-fixed{
       background-size: 130% 100%;  
    }
    .alert{
        position: fixed;
        width: 250px;
    }
}